@use "@coreui/coreui/scss/functions/color" as *;

// Generate a gradient map for a given color
@function gradient($color, $tint: 10%, $shade: 10%) {
  @return (
    "start": tint-color($color, $tint),
    "stop": shade-color($color, $shade)
  );
}
